@import './../Core.scss';

.icon-availability {
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.icon-available {
    background-color: $color-success;
}

.icon-unavailable {
    background-color: $color-danger;
}

.container-watch {
    height: 80px;
    width: 100%;
    cursor: pointer;
}

.watch-number {
    font-size: 12px;
}

.danger-area {
    width: 20px;
    background-color: white;
    transition: background-color 300ms ease-in-out;

}

.section-class-description {
    overflow: hidden;
}

.class-description {
    font-size: 14px !important;
}

.container-watch:focus {
    .danger-area {
        background-color: $color-danger;
    }
}


@media (min-width: 768px) {
    .container-watch {
        width: 50%;
    }

    .container-watch:hover {
        .danger-area {
            background-color: $color-danger;
        }
    }

    .class-description {
        font-size: 16px !important;
    }
}
