@import './../Core.scss';

$loader-dimension: 15px;

.load-container {
    margin: 20px 0;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}

.lds-circle>div {
    display: inline-block;
    width: $loader-dimension;
    height: $loader-dimension;
    margin: 0px;
    border-radius: 50%;
    animation: lds-circle 5s ease-in-out infinite;
}

.bg-silver {
    background-color: $color-silver;
}

.bg-cornell {
    background-color: $color-cornell;
}

@keyframes lds-circle {
    0%,
    100% {
        //animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        //animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

