.btn {
    background-color: white;
}


.btn img {
    width: 25px;
}

.btn p {
    color: #6c757d;
    display: none;
}

.btn:hover p {
    color: black;
}

.user-info-group p {
    font-size: 14px;
    display: none;
}

@media (min-width: 768px) {
    .btn p {
        display: block;
    }
    
    .user-info-group p {
        display: block;
    }
}
